
<br />
<br />
<br/>
<a href="~/Account/Register">
    <img src="/Content/images/investmain.jpg" alt="Main"  style="width:100%;height:100%"></a>
<h2 align="center">Meet Watson</h2>
<div id="ibm_chat_root"></div>


<script src='https://goo.gl/LGQjtn'></script>
<script>
    var config = {
        el: 'ibm_chat_root',
        baseURL: 'https://api.ibm.com/virtualagent/run/api/v1',
        botID: '2b07aecc-d9a2-42e5-884b-59dff73ced6b',
        XIBMClientID: 'c05d05dc-25ab-4cad-a5bc-aded4fa9c256',
        XIBMClientSecret: 'H1sC0iF5jB7rM2hM3eS0jA0uO6vO3fL0iL8bQ8xK3jF4gF2gV3'


    };
    window.IBMChat.init(config);
</script>

<div class="row">
    <div class="col-md-4">
        <h2>Invest Intelligently</h2>
        <p>
            Our investment strategy is customized to focus on your financial goals and personal values. We analyze your daily spending habits and interests by channeling this information through a dyanamic data-driven algorithm computed by IBM Watson.  
        </p>
        <p><a class="btn btn-default" href="/Home/InvestmentOptions">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How AI (Watson) Invests</h2>
        <p>Meet IBM Watson and learn how we use artifical intelligence to optmize your investments and reduce risk</p>
        <p><a class="btn btn-default" href="/Home/Watson">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why I-Invest?</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="/Home/Why">Learn more &raquo;</a></p>
    </div>
   
<br/>
    <br/>
<script src="http://widgets.macroaxis.com/widgets/url.jsp?t=42" type="text/javascript"></script>

@*<html>
<head>
    <title>IBM Watson Virtual Agent Chat Widget Sample</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <style>
        html, body, iframe {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        #ibm_chat_root {
            position: fixed;
            bottom: 0;
            right: 30px;
            min-height: 80px;
            width: 300px;
            background: #000;
        }
    </style>
</head>
<body>
    <div id="ibm_chat_root"></div>
    <script src='https://goo.gl/LGQjtn'></script>
    <script>
        var config = {
            el: 'ibm_chat_root',
            baseURL: 'https://api.ibm.com/virtualagent/run/api/v1',
            botID: '2b07aecc-d9a2-42e5-884b-59dff73ced6b',
            XIBMClientID: 'c05d05dc-25ab-4cad-a5bc-aded4fa9c256',
            XIBMClientSecret: 'H1sC0iF5jB7rM2hM3eS0jA0uO6vO3fL0iL8bQ8xK3jF4gF2gV3'

        };
        window.IBMChat.init(config);
    </script>
</body>
</html>*@

